
@{
    ViewBag.Title = "MayLanhDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- Product main img -->
            <div class="col-md-5 col-md-push-2">
                <div id="product-main-img">
                    <div class="product-preview">
                        <img src="~/Content/img/imgmaylanh/1.jpg" alt="">
                    </div>

                    <div class="product-preview">
                        <img src="~/Content/img/imgmaylanh/2.jpg" alt="">

                    </div>

                    <div class="product-preview">
                        <img src="~/Content/img/imgmaylanh/3.png" alt="">
                    </div>

                    <div class="product-preview">
                        <img src="~/Content/img/imgmaylanh/4.jpg" alt="">
                    </div>
                </div>
            </div>
            <!-- /Product main img -->
            <!-- Product thumb imgs -->
            <div class="col-md-2  col-md-pull-5">
                <div id="product-imgs">
                    <div class="product-preview">
                        <img src="~/Content/img/imgmaylanh/1.jpg" alt="">
                    </div>

                    <div class="product-preview">
                        <img src="~/Content/img/imgmaylanh/2.jpg" alt="">
                    </div>

                    <div class="product-preview">
                        <img src="~/Content/img/imgmaylanh/3.png" alt="">
                    </div>

                    <div class="product-preview">
                        <img src="~/Content/img/imgmaylanh/4.jpg" alt="">
                    </div>
                </div>
            </div>
            <!-- /Product thumb imgs -->
            <!-- Product details -->
            <div class="col-md-5">
                <div class="product-details">
                    <h2 class="product-name">Máy lạnh Toshiba Inverter 1.5 HP</h2>
                    <div>
                        <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                        </div>

                    </div>
                    <div>
                        <h3 class="product-price">9000000 VNĐ <del class="product-old-price">12000000 VNĐ</del></h3>

                    </div>
                    <p>Máy lạnh Toshiba 1.5 HP Inverter RAS-H13C4KCVG-V là máy lạnh có khả năng tiết kiệm điện nhờ có công nghệ Hybrid Inverter và chế độ Eco. Mang đến không khí trong lành trang bị các công nghệ lọc khuẩn như bộ lọc chống nấm mốc, công nghệ tinh lọc không khí Ultra Fresh và công nghệ chống bám bẩn Magic Coil.</p>



                    <div class="add-to-cart">
                        <div class="qty-label">
                            Số lượng
                            <div class="input-number">
                                <input type="number">
                                <span class="qty-up">+</span>
                                <span class="qty-down">-</span>
                            </div>
                        </div>
                        <a href="../User_63130480/Login" class="add-to-cart-btn">
                            Mua ngay
                        </a>
                    </div>

                    <ul class="product-btns">
                        <li><a href="#"><i class="fa fa-heart-o"></i>Yêu thích</a></li>
                        <li><a href="#"><i class="fa fa-exchange"></i>So sánh sản phẩm</a></li>
                    </ul>

                    <ul class="product-links">
                        <li>Loại Sản Phẩm:</li>
                        <li><a href="#">Máy lạnh</a></li>
                    </ul>

                    <ul class="product-links">
                        <li>Chia sẽ:</li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                    </ul>

                </div>
            </div>
            <!-- /Product details -->
            <!-- Product tab -->
            <div class="col-md-12">
                <div id="product-tab">
                    <!-- product tab nav -->
                    <ul class="tab-nav">
                        <li class="active"><a data-toggle="tab" href="#tab1">Thông số kỹ thuật</a></li>
                        <li><a data-toggle="tab" href="#tab2">Khuyến mãi</a></li>
                    </ul>
                    <!-- /product tab nav -->
                    <!-- product tab content -->
                    <div class="tab-content">
                        <!-- tab1  -->
                        <div id="tab1" class="tab-pane fade in active">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>
                                        - Loại máy: Máy lạnh 1 chiều (chỉ làm lạnh) <br />
                                        - Inverter: Máy lạnh Inverter <br />
                                        - Công suất làm lạnh: 1.5 HP - 12.000 BTU <br />
                                        - Phạm vi làm lạnh hiệu quả: Từ 15 - 20m² (từ 40 đến 60 m³) <br />
                                        - Công suất sưởi ấm: Không có sưởi ấm <br />
                                        - Độ ồn trung bình: 24-43/48 dB <br />
                                        - Dòng sản phẩm: 2022 <br />
                                        - Sản xuất tại: Thái Lan

                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- /tab1  -->
                        <!-- tab2  -->
                        <div id="tab2" class="tab-pane fade in">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>
                                        1. Mua Máy sấy, Máy rửa chén giảm đến 15%. <br />
                                        2. Mua Máy lọc nước giảm thêm 200,000đ <br />
                                        3. Mua Giá Đỡ giảm đến 60% (Không áp dụng khuyến mãi khác) <br />
                                        4. Bếp điện đôi mua kèm giảm đến 53% (không áp dụng khuyến mãi khác).
                                        <br />
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- /tab2  -->

                    </div>
                    <!-- /product tab content  -->
                </div>
            </div>
            <!-- /product tab -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
