
@{
    ViewBag.Title = "TiviDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- Product main img -->
            <div class="col-md-5 col-md-push-2">
                <div id="product-main-img">
                    <div class="product-preview">
                        <img src="~/Content/img/product01.png" alt="">
                    </div>

                    <div class="product-preview">
                        <img src="~/Content/img/product03.png" alt="">
                    </div>

                    <div class="product-preview">
                        <img src="~/Content/img/product06.png" alt="">
                    </div>

                    <div class="product-preview">
                        <img src="~/Content/img/product08.png" alt="">
                    </div>
                </div>
            </div>
            <!-- /Product main img -->
            <!-- Product thumb imgs -->
            <div class="col-md-2  col-md-pull-5">
                <div id="product-imgs">
                    <div class="product-preview">
                        <img src="~/Content/img/product01.png" alt="">
                    </div>

                    <div class="product-preview">
                        <img src="~/Content/img/product03.png" alt="">
                    </div>

                    <div class="product-preview">
                        <img src="~/Content/img/product06.png" alt="">
                    </div>

                    <div class="product-preview">
                        <img src="~/Content/img/product08.png" alt="">
                    </div>
                </div>
            </div>
            <!-- /Product thumb imgs -->
            <!-- Product details -->
            <div class="col-md-5">
                <div class="product-details">
                    <h2 class="product-name">Tivi Sony 4K</h2>
                    <div>
                        <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                       
                    </div>
                    <div>
                        <h3 class="product-price">20000000 VNĐ <del class="product-old-price">15000000 VNĐ</del></h3>
                       
                    </div>
                    <p>Google Tivi Sony 4K 55 inch KD-55X77L sở hữu kích thước 55 inch cùng bộ xử lý mạnh mẽ X1 4K cho hình ảnh hiển thị chất lượng 4K sắc nét, công nghệ tạo màu Live Colour, công nghệ S-Master Digital Amplifier thu hút người xem ngay từ cái nhìn đầu tiên, đem đến những thước phim, bản nhạc kịch tính, sống động. Bên cạnh đó, tivi còn trang bị nhiều tính năng giúp ích cho người dùng trong quá trình sử dụng như: trợ lý ảo Google Assistant, AirPlay 2 (iPhone) và Chromecast,...</p>

                    

                    <div class="add-to-cart">
                        <div class="qty-label">
                            Số lượng
                            <div class="input-number">
                                <input type="number">
                                <span class="qty-up">+</span>
                                <span class="qty-down">-</span>
                            </div>
                        </div>
                        <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</button>
                    </div>

                    <ul class="product-btns">
                        <li><a href="#"><i class="fa fa-heart-o"></i>Yêu thích</a></li>
                        <li><a href="#"><i class="fa fa-exchange"></i>So sánh sản phẩm</a></li>
                    </ul>

                    <ul class="product-links">
                        <li>Loại Sản Phẩm:</li>
                        <li><a href="#">Tivi</a></li>
                    </ul>

                    <ul class="product-links">
                        <li>Share:</li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                    </ul>

                </div>
            </div>
            <!-- /Product details -->
            <!-- Product tab -->
            <div class="col-md-12">
                <div id="product-tab">
                    <!-- product tab nav -->
                    <ul class="tab-nav">
                        <li class="active"><a data-toggle="tab" href="#tab1">Thông số kỹ thuật</a></li>
                        <li><a data-toggle="tab" href="#tab2">Khuyến mãi</a></li>
                    </ul>
                    <!-- /product tab nav -->
                    <!-- product tab content -->
                    <div class="tab-content">
                        <!-- tab1  -->
                        <div id="tab1" class="tab-pane fade in active">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>
                                       - Loại tivi: Google Tivi55 inch4K <br />
                                       - Hệ điều hành: Google TV <br />
                                       - Công nghệ hình ảnh: Chuyển động mượt Motionflow XR 200HDR10HLGMàu sắc sống động Live Colour
                                         Nâng cấp hình ảnh 4K X-Reality PRO Tăng cường tương phản Dynamic Contrast Enhancer <br />
                                       - Kích thước: Ngang 124.3 cm - Cao 78.9 cm - Dày 33.1 cm <br />
                                       - Năm ra mắt: 2023 <br />
                                       - Hãng: Sony
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- /tab1  -->
                        <!-- tab2  -->
                        <div id="tab2" class="tab-pane fade in">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>
                                        1. Tặng thêm 06 Tháng sử dụng: VieON VIP và 3 Kênh K+ (K+ LIFE/ K+ CINE/ K+ KIDS) <br />
                                        2. Giảm thêm 5% khi mua cùng sản phẩm có giá cao hơn (trừ Xe đạp, sản phẩm Apple, sản phẩm giá sốc) <br />
                                        3. Nhập mã SALET12 giảm ngay 2% tối đa 100.000đ khi thanh toán qua MOMO <br />
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- /tab2  -->
                        
                    </div>
                    <!-- /product tab content  -->
                </div>
            </div>
            <!-- /product tab -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->

