
@{
    ViewBag.Title = "TuLanhDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- Product main img -->
            <div class="col-md-5 col-md-push-2">
                <div id="product-main-img">
                    <div class="product-preview">
                        <img src="~/Content/img/imgtulanh/1.jpg" alt="">
                    </div>

                    <div class="product-preview">
                        <img src="~/Content/img/imgtulanh/2.jpg" alt="">

                    </div>

                    <div class="product-preview">
                        <img src="~/Content/img/imgtulanh/3.jpg" alt="">
                    </div>

                    <div class="product-preview">
                        <img src="~/Content/img/imgtulanh/4.jpg" alt="">
                    </div>
                </div>
            </div>
            <!-- /Product main img -->
            <!-- Product thumb imgs -->
            <div class="col-md-2  col-md-pull-5">
                <div id="product-imgs">
                    <div class="product-preview">
                        <img src="~/Content/img/imgtulanh/1.jpg" alt="">
                    </div>

                    <div class="product-preview">
                        <img src="~/Content/img/imgtulanh/2.jpg" alt="">
                    </div>

                    <div class="product-preview">
                        <img src="~/Content/img/imgtulanh/3.jpg" alt="">
                    </div>

                    <div class="product-preview">
                        <img src="~/Content/img/imgtulanh/4.jpg" alt="">
                    </div>
                </div>
            </div>
            <!-- /Product thumb imgs -->
            <!-- Product details -->
            <div class="col-md-5">
                <div class="product-details">
                    <h2 class="product-name">Tủ lạnh Samsung Inverter 200 lít</h2>
                    <div>
                        <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                        </div>

                    </div>
                    <div>
                        <h3 class="product-price">10000000 VNĐ <del class="product-old-price">15000000 VNĐ</del></h3>

                    </div>
                    <p>
                        Sử dụng 2 dàn lạnh độc lập Twin Cooling Plus giúp lạnh đồng đều. Tủ lạnh này sử dụng công nghệ hiện đại nên trong quá trình hoạt động mọi ngóc ngách của tủ được làm lạnh nhanh chóng, nên thực phẩm được bảo quản tốt hơn.
                        Thiết kế Multi Door hiện đại, có tiện ích lấy nước bên ngoài. Tủ lạnh Samsung Inverter 488 lít RF48A4010M9/SV được thiết kế với dạng Multi Door nhiều cửa nên có thể lấy thực phẩm ở những ngăn riêng tránh thất thoát hơi lạnh ra ngoài.
                    </p>



                    <div class="add-to-cart">
                        <div class="qty-label">
                            Số lượng
                            <div class="input-number">
                                <input type="number">
                                <span class="qty-up">+</span>
                                <span class="qty-down">-</span>
                            </div>
                        </div>
                        <a href="../User_63130480/Login" class="add-to-cart-btn">
                            Mua ngay
                        </a>
                    </div>

                    <ul class="product-btns">
                        <li><a href="#"><i class="fa fa-heart-o"></i>Yêu thích</a></li>
                        <li><a href="#"><i class="fa fa-exchange"></i>So sánh sản phẩm</a></li>
                    </ul>

                    <ul class="product-links">
                        <li>Loại Sản Phẩm:</li>
                        <li><a href="#">Tủ lạnh</a></li>
                    </ul>

                    <ul class="product-links">
                        <li>Chia sẽ:</li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                    </ul>

                </div>
            </div>
            <!-- /Product details -->
            <!-- Product tab -->
            <div class="col-md-12">
                <div id="product-tab">
                    <!-- product tab nav -->
                    <ul class="tab-nav">
                        <li class="active"><a data-toggle="tab" href="#tab1">Thông số kỹ thuật</a></li>
                        <li><a data-toggle="tab" href="#tab2">Khuyến mãi</a></li>
                    </ul>
                    <!-- /product tab nav -->
                    <!-- product tab content -->
                    <div class="tab-content">
                        <!-- tab1  -->
                        <div id="tab1" class="tab-pane fade in active">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>
                                        - Kiểu tủ: Multi Door
                                        - Dung tích sử dụng: 200 lít - 4 - 5 người <br />
                                        - Công nghệ tiết kiệm điện: Chế độ kỳ nghỉ tiết kiệm điệnDigital Inverter <br />
                                        - Công nghệ làm lạnh: 2 dàn lạnh độc lập Twin Cooling Plus™Công nghệ làm lạnh No FrostLàm lạnh nhanh <br />  
                                        - Nơi sản xuất: Trung Quốc <br />
                                        - Năm ra mắt: 2021 <br />
                                        - Hãng: Samsung
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- /tab1  -->
                        <!-- tab2  -->
                        <div id="tab2" class="tab-pane fade in">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>
                                        1. Mua Máy sấy, Máy rửa chén giảm đến 15%. <br />
                                        2. Mua Máy lọc nước giảm thêm 200,000đ <br />
                                        3. Mua Giá Đỡ giảm đến 60% (Không áp dụng khuyến mãi khác) <br />
                                        4. Bếp điện đôi mua kèm giảm đến 53% (không áp dụng khuyến mãi khác).
                                        <br />
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- /tab2  -->

                    </div>
                    <!-- /product tab content  -->
                </div>
            </div>
            <!-- /product tab -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
