
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <!-- ASIDE -->
            <div class="col-md-4 col-xs-6">
                <div class="shop">
                    <div class="shop-img">
                        <img src="~/Content/img/maylanh.jpg" alt="">
                    </div>
                    <div class="shop-body">
                        <h3>Máy lạnh</h3>
                        <a href="../User_63130480/MayLanh" class="cta-btn">Xem sản phẩm <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>



            <div class="col-md-4 col-xs-6">
                <div class="shop">
                    <div class="shop-img">
                        <img src="~/Content/img/sony4k.jpg" alt="">
                    </div>
                    <div class="shop-body">
                        <h3>Tivi</h3>
                        <a href="../User_63130480/Tivi" class="cta-btn">Xem sản phẩm<i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-xs-6">
                <div class="shop">
                    <div class="shop-img">
                        <img src="~/Content/img/Tulanh.jpg" alt="">
                    </div>
                    <div class="shop-body">
                        <h3>Tủ lạnh</h3>
                        <a href="../User_63130480/TuLanh" class="cta-btn">Xem sản phẩm<i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>

        </div>
            <!-- /ASIDE -->
            <!-- STORE -->
            <div id="store" class="col-md-12 ">
                <!-- store products -->
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-3 col-xs-6">
                            <div class="product">
                                <div class="product-img">
                                    <img src="~/Content/img/@item.AnhSanPham" alt="">
                                    <div class="product-label">
                                        <span class="new">NEW</span>
                                    </div>
                                </div>
                                <div class="product-body">
                                    <p class="product-category">@item.MaSP</p>
                                    <h3 class="product-name"><a href="#">@item.TenSP</a></h3>
                                    <h4 class="product-price">@item.DonGia</h4>
                                    <div class="product-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="product-btns">
                                        <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">Yêu thích</span></button>
                                        <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">So sánh</span></button>
                                        <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">Chi tiết</span></button>
                                    </div>
                                </div>
                                <div class="add-to-cart">
                                    <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>Mua ngay</button>
                                </div>
                            </div>
                        </div>
                    }
                    <!-- product -->


                </div>
                <!-- /store products -->
                
            </div>
            <!-- /STORE -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
