@model IEnumerable<Project_63130480.Models.SanPham>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    int i = 0;
    var grid = new WebGrid(Model, canPage: true, defaultSort: "TenNV", rowsPerPage: 8);
}
<h2>Welcome Admin: @Session["HoTen"]</h2>
<h2>Dữ liệu sản phẩm</h2>


@using (Html.BeginForm("Index", "Product_63130480", FormMethod.Get))
{
    <p>
        Tìm kiếm theo tên sản phẩm: @Html.TextBox("searchString")
        <input type="submit" value="Tìm kiếm" />
    </p>
}
@grid.GetHtml(
            tableStyle: "table table-bordered table-hover",
            footerStyle: "grid-footer",
            fillEmptyRows: true,
            mode: WebGridPagerModes.Numeric,
            alternatingRowStyle: "alternatingRowStyle",
              columns: new[]  // colums in grid
             {
         grid.Column("STT",format: item => item.WebGrid.Rows.IndexOf(item) + 1 + Math.Round(Convert.ToDouble(grid.TotalRowCount / grid.PageCount) / grid.RowsPerPage) * grid.RowsPerPage * grid.PageIndex),
        grid.Column("MaSP","Mã sản phẩm"), //the model fields to display
        grid.Column("TenSP","Tên sản phẩm"  ),
        grid.Column("MoTaSP","Mô tả sản phẩm"),
        grid.Column("DonViTinh","Đơn vị tính"),
        grid.Column("AnhSanPham","Ảnh sản phẩm"),

grid.Column("DonGia","Đơn giá"),
grid.Column("MaLoaiSP","Mã loại sản phẩm"),
grid.Column(format: (item) => Html.ActionLink("Cập nhật", "Edit", "Product_63130480",new { id = item.MaSP },"Product_63130480Controller")),
grid.Column("Chức năng",format: (item) => Html.ActionLink("Chi tiết", "Details","Product_63130480", new { id = item.MaSP },"Product_63130480Controller")),
grid.Column(format: (item) => Html.ActionLink("Xóa", "Delete","Product_63130480", new { id = item.MaSP },"Product_63130480Controller")),


}
)
<p>
    @Html.ActionLink("Thêm sản phẩm mới", "Create")
</p>
